html,
body {
  background: white !important;
  color: black !important;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

p {
  padding: 0;
  margin: 0;
}

pre {
  font-size: 10px;
}

.br {
  outline: 1px solid red;
}

.bg {
  outline: 1px solid green;
}

.swv-button {
  min-height: 56px !important;
}
